/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}
html {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  background-color: #ffffff;
  color: #000000;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  display: block;
  /*object-fit: cover;*/
}

figure {
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}
hr {
  width: 50px;
  border: none;
  /*border-top: 1px solid #00e0d0;
  border-bottom: 1px solid #40474f;*/
  height: 2px;
  background-color: #ffffff;
}
li {
  list-style: none;
  padding: 5px;
}
.list {
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-icon {
  color: #fff;
  width: 24px;
  height: 24px;
}

.icon {
  padding-right: 10px;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }
}
