.button {
  display: inline-block;
  margin: 50px auto;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: inherit;
  font-family: inherit;
  padding: 15px 100px;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.button:hover {
  text-decoration: none;
}

.button:focus {
  outline: none;
}
.button-full {
  width: 100%;
}
.button-primary {
  border-radius: 133px;
  color: #ffffff;
  background: #ff0032;
  border: 3px solid transparent;
}
.button-primary:hover {
  color: #ff0032;
  background-color: #ffffff;
  border: 3px solid #ff0032;
}

.button-social {
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  padding: 10px;
}
.button-social: hover {
  background: green;
  border: 2px solid #fff;
}
.section-form button {
  margin: 46px auto;
  justify-content: center;
}
