.card {
  position: relative;
  margin: 0 auto;
  padding: 0;
  border: transparent;
  background: white;
  overflow: hidden;
  border-radius: 25px;
  /* transition: 0.4s linear;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.card-img {
  transition: 1s ease-in-out;
}
.card-img:hover {
  transform: scale(1.1);
}
.card-img img {
  width: 100%;
  object-fit: cover;
}
.card-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #373f55;
}
.card-description {
  font-size: 16px;
  color: #464649;
}
.card-body {
  padding: 30px 17px;
  flex-grow: 1;
}

.price {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #373f55;
}
.stars {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 7px 0;
}
.stars:before {
  content: "\f005\f005\f005\f005\f006";
  color: #efb71c;
  font-size: 20px;
  font-family: FontAwesome;
}
.reviews,
.duraction {
  padding-left: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #888ea0;
}
.card-footer {
  padding: 0 17px;
  display: flex;
  color: #888ea0;
  justify-content: space-between;
}

.card-simple {
  overflow: hidden;
  border-radius: 25px;
}
.card-text {
  font-size: 16px;
  line-height: 22px;
  color: #464649;
  max-width: 497px;
  margin: ;
}
