@font-face {
  font-family: "GilroyB";
  src: url("../../fonts/gilroy-extrabold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/gilroy-light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
p {
  font-family: "Gilroy";
}
